/*Forum*/

.main-forum {
    margin-top: 2%;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.principal {
    margin: 20px;
    margin-left: 10%;
    width: 65%;
    height: auto;
    border-color: var(--primary-color);
    text-align: left;
    box-shadow: var(--shadow);
}

.principal p,
h1 {
    margin-left: 30px;
    margin-right: 30px;
}

.line {
    text-align: center;
    border-radius: 1px;
    border-style: dotted;
    border-color: var(--primary-color);
    font-style: italic;
}

.author {
    margin-top: 20px;
    text-align: right;
    font-style: italic;
}

.side-panel {
    margin: 20px;
    width: 30%;
    height: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
}

.side-div {
    box-shadow: var(--shadow);
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.side-div h2 {
    text-align: left;
    margin-left: 20px;
}