
.barcode {
    width: 7rem;
    height: 3rem;
}
.tableGolden {
    margin-left: 8%;
    margin-right: 8%;
    padding: 0;
}

.tableGolden-container {  
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    font-style: bold;
    color: #333;
}

thead {
    background-color: #333;
    color: white;
    text-align: center;
    font-style: bold;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover  {
    background-color: var(--secondary-color);
    color: white;
}
