body{
    background-image: url("/resources/images/background.png");
    background-position: center;
    background-size: cover;
}
.gold-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;

    margin-bottom: 0;
}

.box {
    margin-left: 5%;
    margin-top: 1%;
    padding: 0;
    width: 27%;
    height: auto;
    box-shadow: var(--shadow);
    align-items: center;
}


.box h3 {
    color: rgba(245, 245, 245, 0.514);
    text-align: center;
    font-size: 1.5rem;
    text-shadow: var(--shadow);
}

.box:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    font-size: 150%;
    text-decoration: none;
    text-shadow: #333;
}

.imagen {
    width: 80%;
    height: 60%;
    margin: 10%;
}
.zz {
    width: 100%;
    height: 90%;
}
.zep {
    width: 100%;
    height: 70%;
    margin: 10%;
}