* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: #0b60a6;
    --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --shadow2: rgba(46, 107, 240, 0.4) 5px 5px, rgba(46, 82, 240, 0.3) 10px 10px, rgba(46, 82, 240, 0.26) 15px 15px, rgba(46, 114, 240, 0.1) 20px 20px, rgba(59, 46, 240, 0.05) 25px 25px;
    --shadow3: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    --shadow4: 11px 0px 145px -42px rgba(7,17,219,0.76);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background-color: white;
}