.form {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 3%;
    text-align: center;
    box-shadow: var(--shadow);
}

.serial {}

.system {}

.options {}

.ta-cluster {}

.ps {}

.password {}

.area {}

.check {}