.form {
    position: relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    text-align: center;
    border: 10px black;
    border-style: double;
  }
.serial{
}
.system{
}
.options{

}
.ta-cluster{

}
.ps{

}
.password{

}
.area{

}
.check{

}