* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;    
    background-color:whitesmoke;
}

    /* NAV-BAR GENERAL */

.nav-bar {
	background: #092d5c;
	color: white;
	height: 65px;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}
.nav-bar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

.navbar_logo{
	height: 65px;
    float: right;
}

.navbar_logo:hover {
    background: #0b60a6;
}

.nav-bar_left {
    float: left;
    display: flex;
}


.nav-bar_item {
    float: right;
    padding: 16px;
    display: block;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    color: white;
  
}
.nav-bar_item:hover {
    background: #0b60a6;
}

    /*HEADER GENERAL*/

.title-header {
    display: block;
    text-align: center;
    padding-top: 50px;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 25px;
    color: black;
    text-shadow: goldenrod;

    animation: animationTitleLeft  2s;
}

@keyframes animationTitleLeft {
    0%{
        opacity: 0;
        transform:translateX(-100px) 
    };
    50%{
        transform:translateX(-10px)
    };
    100%{
        opacity: 1;
        transform: translateX(0)
    };
}

/*Header main img*/

.header_img {
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 70px;
    margin-top: 30px;
    width: 375px;
    margin-left: 27rem;
	

    animation: animationTitleLeft  2s;
}
.header-text{
    padding-top: 85px;
    padding-bottom: 50px;
    text-align: center;
    font-size: x-large;
}


#main-content {
    background: white;
    max-width: 90%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding-top: 150;
}
                  
        /*Forum*/

.header_img-question {
    display: block;
    align-items: center;
    text-align: center;
    width: 450px;
    margin-left: 19rem;
}

.header_text-question{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: x-large;
}

    /*help and documents*/
.header_text-help{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: x-large;
}

    /*TABLA DE GOLDEN*/

.button-so {
        text-align: center;
}

.tableGolden {
    margin: 50px auto;
	width: auto; 
}

.tableGolden-container {
    margin: 50px auto;
	width: auto; 
    text-align: center;
}

thead{
	background-color: #092d5c;
	border-bottom: solid 5px #0b76a6;
	color: white;
}
tr:nth-child(even){
	background-color: #ddd;
}
tr:hover td{
	background-color: #0b76a6;
	color: white;
}
th, td{
	padding: 10px;
}

    /*FOOTER GENERAL*/

    .footer {
	background: #092d5c;
	text-align: center;
    width: 100%;
    margin: 0;
	padding: 10px;
    margin-top: 80px;
}

.footer-text {
    color: white;
    font-size: medium;
    text-decoration: none;
}
