body
{
    background: #e8e8e4;
    color: #0096c7;
    text-align: left;
    font-family: Arial;
    font-size: 32px;
    margin: 10px;
    padding: 5px;
}

/*___________*/
/*--HEADER---*/
/*___________*/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
	#main-header a {
		color: white;
	}
/*_________________*/
/*---LOGO-HEADER---*/
/*_________________*/
 #logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
/*_________________*/
/*---NAVEGACION----*/
/*_________________*/
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
